.product-search {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding-left: 10px;
    background: var(--color-background-tertiary);
}

.product-search button {
    padding: 6px 18px;
    margin: 4px;
}

.product-search input {
    border: none;
    outline: none;
    background: var(--color-background-tertiary);
    width: 100%;
}

.product-search:focus-within,
.product-search:focus-within input {
    background: var(--color-background-secondary);
}
