*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    background: var(--color-background-secondary);
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
button,
textarea,
select {
    font: inherit;
    color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

main {
    margin: 40px calc(var(--spacing) * 8);
}

:root {
    color-scheme: light;

    --spacing: 16px;

    --color-background-main: #FFFFFF;
    --color-background-secondary: #F7FAFC;
    --color-background-tertiary:#e9ebed;

    --color-text-main: #1C1C1C;
    --color-text-secondary: #505050;
    --color-text-tertiary: #8B96A5;
    --color-text-accent: #0D6EFD;

    --color-link: #1C1C1C;
    --color-link-hover:rgb(44, 114, 220);

    --color-border: #DEE2E7;
    --color-border-secondary: #E0E0E0;

    --color-action-primary: #127FFF;
    --color-action-foreground-primary: #FFFFFF;
    --color-action-primary-hovered: #3593ff;
    --color-action-foreground-primary-hovered: #FFFFFF;

    --color-action-secondary: rgba(127, 186, 255, 0.19);
    --color-action-foreground-secondary: #298dff;
    --color-action-secondary-hovered: rgba(127, 187, 255, 0.38);
    --color-action-foreground-secondary-hovered: #1368c9;
    --color-action-secondary-active-hovered:rgba(255, 17, 88, 0.21);
    --color-action-foreground-secondary-active: #ff1159;

    --color-status-featured:rgb(255, 225, 221);
    --color-status-featured-foreground:rgb(255, 48, 11);

    --color-accept: #4bae4f;
}
