.base-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 6px;
    padding: 10.5px 28px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    border: 0px;

    svg {
        min-width: 24px;
        min-height: 24px;
    }
}

.base-button-primary {
    background: var(--color-action-primary);
    color: var(--color-action-foreground-primary);

    svg {
        fill: var(--color-action-foreground-primary);
    }
}

.base-button-secondary {
    background: var(--color-action-secondary);
    color: var(--color-action-foreground-secondary);

    svg {
        fill: var(--color-action-foreground-secondary);
    }
}

.base-button:hover,
.base-button:focus-visible {
    cursor: pointer;
}

.base-button-primary:hover,
.base-button-primary:focus-visible {
    background: var(--color-action-primary-hovered);
    color: var(--color-action-foreground-primary-hovered);

    svg {
        fill: var(--color-action-foreground-primary-hovered);
    }
}

.base-button-secondary:hover,
.base-button-secondary:focus-visible {
    background: var(--color-action-secondary-hovered);
    color: var(--color-action-foreground-secondary-hovered);

    svg {
        fill: var(--color-action-foreground-secondary-hovered);
    }
}
