.base-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.base-input label {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.base-input input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid var(--color-border);
}

.base-input input:focus {
    outline: none;
}
