.favourite-icon--active {
    background: var(--color-action-secondary-hovered);

    svg {
        fill: var(--color-action-foreground-secondary-active);
    }
}

.favourite-icon--active:hover {
    background: var(--color-action-secondary-active-hovered);

    svg {
        fill: var(--color-action-foreground-secondary-active);
    }
}
