.cart-container {
    display: flex;
    gap: 30px;
    width: 100%;
}

.total-container  {
    width: 500px;
    height: 260px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.total-container__summary {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
}

.empty-card__container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}

.empty-card {
    margin: 0 auto;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.empty-card a {
    color: var(--color-link-hover);
}
