.base-button-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10.5px 10.5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 6px;
    background: var(--color-background-main);
    color: var(--color-link);
}

.base-button-link--primary {
    border: 1px solid var(--color-background-main);
}

.base-button-link--primary:hover,
.base-button-link--primary:focus-visible {
    color: var(--color-link-hover);
    border: 1px solid var(--color-border);
}

.base-button-link--outlined {
    border: 1px solid var(--color-border);
}

.base-button-link--outlined:hover,
.base-button-link--outlined:focus-visible {
    color: var(--color-link-hover);
    border: 1px solid var(--color-link-hover);
}
