.product-card {
    height: 230px;
    padding: 24px;
    display: flex;
    gap: 10px;
    background: var(--color-background-main);
    border: 1px solid var(--color-border);
    border-radius: 6px;
}

.product-card__image-container {
    height: 100%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card__image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.product-card__image-placeholder {
    width: 100%;
    height: 100%;
    background: var(--color-background-secondary);
    border: 1px dashed var(--color-border);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    font-size: 14px;
}

.product-card__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

.product-card__title {
    color: var(--color-link);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.product-card__title:hover,
.product-card__title:focus-visible {
    color: var(--color-link-hover);
    cursor: pointer;
}

.product-card__pricing-block {
    display: flex;
    gap: 7px;
    align-items: center;
}

.product-card__price {
    color: var(--color-text-main);
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.product-card__old-price {
    color: var(--color-text-secondary);
    font-weight: 500;
    font-size: 16px;
    text-decoration: line-through;
}

.product-card__badges {
    display: flex;
    gap: 6px;
}

.product-card__buttons {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

.product-card__buttons .favourite-icon--active {
    background: var(--color-action-secondary-hovered);

    svg {
        fill: var(--color-action-foreground-secondary-active);
    }
}

.product-card__buttons .favourite-icon--active:hover {
    background: var(--color-action-secondary-active-hovered);

    svg {
        fill: var(--color-action-foreground-secondary-active);
    }
}
