.category-link {
    border: 1px solid transparent;
    cursor: pointer;
}

.category-link:hover {
    border: 1px solid var(--color-link-hover);
}

.category-link:hover .category-card__title {
    color: var(--color-link-hover);
}
