.tabs {
    flex-grow: 1;
}

.tabs__list {
    display: flex;
    gap: 16px;
    background: var(--color-background-tertiary);
    width: fit-content;
    border-radius: 6px;
    padding: 0px 10px;
}

.tabs__tab {
    padding: 15px 25px;
    background: transparent;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.tabs__tab:hover {
    color: var(--color-text-accent);
}

.tabs__tab--active {
    color: var(--color-text-accent);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    position: relative;
}

.tabs__tab--active:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background: var(--color-text-accent);
    position: absolute;
    bottom: 0;
    left: 0;
}

.tabs__content {
    margin: 40px 20px;
}