.sign-in-page {
    width: 100%;
    height: calc(100% - 100px);
    margin: 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sign-in-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-in-form .base-input {
    width: 350px;
}

.sign-in-form__register_link {
    margin-left: 10px;
    color: var(--color-link-hover);
}
