header {
    position: relative;
    max-width: 1200px;
    padding: 24px 0px;
    margin: 0px auto;
    background: var(--color-background-main);
}

header h2 {
    font-size: 24px;
    font-weight: 800;
    color: var(--color-text-main);
}

header::before,
header::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: var(--color-background-main);
}

header::before {
    right: 100%;
}

header::after {
    left: 100%;
}