.products-catalog__header {
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.products-catalog__header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.products-catalog__header-left h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--color-text-main);
}

.products-catalog__header-left p {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-text-secondary);
}