.checkout-container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    gap: 30px;
    color: var(--color-text-accent);
}
