.base-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: var(--color-button-main);
    color: var(--color-button-foreground-main);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    padding: 10.5px 24px;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;

    svg {
        fill: var(--color-button-foreground-main);
        min-width: 24px;
        min-height: 24px;
    }
}

.base-button:hover,
.base-button:focus-visible {
    background: var(--color-button-hovered);
    color: var(--color-button-foreground-hovered);
    cursor: pointer;

    svg {
        fill: var(--color-button-foreground-hovered);
    }
}
