.header__categories-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10.5px 24px;
    background: var(--color-background-main);
    color: var(--color-link);
    border-radius: 6px;
    border: 1px solid var(--color-background-main);
}

.header__categories-link:hover,
.header__categories-link:focus-visible {
    color: var(--color-link-hover);
    border: 1px solid var(--color-border);
}
