.favourites-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.empty-favourites__container {
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}

.empty-favourites {
    margin: 0 auto;
    width: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}

.empty-favourites a {
    color: var(--color-link-hover);
}
